#search_result {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
    left: 0px;
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    z-index: 1000;
}
.jms_ajax_search .dropdown-menu.search-box {
    padding: 0;
    min-width: 400px;
}
#ajax_search {
    height: 50px;
    border: 1px solid #ddd;
    font-size: 12px;
    color: #8f8f8f;
    padding: 0 20px;
}
.button-search {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    font-size: 21px;
    color: #8f8f8f;
    border: 0;
    background: none;
    line-height: 54px;
}
#search_result .review {
    padding: 16px 0;
}
#search_result .result_div {
    background: #fff;
    float: left;
    position: relative;
    width: 100%;
    max-height: 373px;
    overflow-y: scroll;
}

.dropdown-menu .right-info > a{
    font-size: 14px;
    font-weight: 600;
    color: #DC6978;
    text-transform: capitalize;
}