.blog-row .addon-title{
    text-align: center;
    font-family: 'Aguafina Script', cursive;
    margin-bottom: 50px;
}
.blog-row .addon-title h3{
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 11px;
    line-height: 1.4;
}
.blog-row .addon-title h3::before{
    width: 80px;
    height: 2px;
}

.blog-category a {
    color: #8f8f8f;
    text-transform: uppercase;
}
.post-title {
    font-size: 1.28em;
    text-transform: initial;
    line-height: 1.444em;
    font-weight: 600;
    letter-spacing: 0;
}
.post-meta {
    font-size: 12px;
    text-transform: capitalize;
    padding-top: 14px;
    font-weight: 500;
}
.post-meta li::after{
    content: "-";
    margin: 0 5px 0 2px;
}
.post-meta li:last-child::after{
    display: none;
}
.number-comment{
    color: #000;
}
.blog-category {
    padding-top: 28px;
    padding-bottom: 14px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4em;
}

.post-created{
   color: #DC6978;
}

.blog-carousel.owl-theme .owl-controls div.owl-prev::before, 
.blog-carousel.owl-theme .owl-controls div.owl-next::before{
    content: "\eb34";
    font-family: 'icomoon';
    font-size: 41px;
    border: 0;
    width: auto;
    height: auto;
    position: static;
    color: #BABABA;
}
.blog-carousel.owl-theme .owl-controls div.owl-prev:hover::before, 
.blog-carousel.owl-theme .owl-controls div.owl-next:hover::before{
    color: #000;
}
.blog-carousel.owl-theme .owl-controls div.owl-next::before{
    content: "\e90a";
}
.blog-carousel.owl-theme .owl-controls div.owl-prev, 
.blog-carousel.owl-theme .owl-controls div.owl-next{
    width: auto;
    height: auto;
}
.blog-carousel.owl-theme .owl-controls div.owl-prev {
    left: -60px !important;
}
.blog-carousel.owl-theme .owl-controls div.owl-next {
    right: -68px !important;
}
.blog-carousel.owl-theme .owl-controls {
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    margin-top: -76px;
    height: 74px;
}
.blog-carousel.owl-carousel.owl-loaded{
    padding-bottom: 0;
}
.blog-carousel.owl-carousel .owl-stage-outer{
    float: left;
}


/********BLOG WIDGET*******/
.widget-title {
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.widget-title::after {
    content: "";
    width: 30px;
    height: 2px;
    background: #DC6978;
    display: inline-block;
    margin-right: 5px;
}
.blog-widget ul li a {
    color: #8f8f8f;
    font-weight: 500;
    line-height: 32px;
}
.blog-widget ul li a:hover{
	color: #DC6978;
}
.blog-widget {
    margin-bottom: 45px;
}
.item-post {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}
.item-post:last-child{
	margin-bottom: 0;
}
.item-post .blog-image {
    margin-right: 20px;
	min-width: 69px;
	width: 69px;
}

.item-post .blog-image img{
	width: 69px;
	height: 69px;
}

.blog-info h6 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.blog-info .post-created {
    font-size: 12px;
    font-weight: 500;
    color: #8f8f8f;
}
.blog-info span::after {
    content: "-";
    margin: 0 2px 0 5px;
}
.blog-info span:last-child::after {
    display: none;
}
.widget-tabs .widget-title {
    margin-bottom: 33px;
}

.nav-post{
	margin-top: 45px;
}

.nav-post .nav {
    margin-bottom: 40px;
    border-bottom: 2px solid #dddddd;
}

.widget-tabs .nav-item a {

    font-size: 21px;
    color: #000;
    font-weight: 600;
    margin-right: 30px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}

.widget-tabs .nav-item a::before {

    content: "";
    width: 100%;
    height: 2px;
    display: inline-block;
    background: #DC6978;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition        : all 0.3s ease 0s;
    -moz-transition   : all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition     : all 0.3s ease 0s;
    transform         : scale(0);
    -moz-transform    : scale(0);
    -webkit-transform : scale(0);
    -o-transform      : scale(0);

}

.widget-tabs .nav-item a:hover::before,
.widget-tabs .nav-item a.active::before{
    transform        : scale(1);
    -moz-transform   : scale(1);
    -webkit-transform: scale(1);
    -o-transform     : scale(1);
}

/**********CATEGORY**********/
.post-category a{
    text-transform: uppercase;
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
.blog-post .post-title{
    font-size: 24px;
}
.post-meta li {
    display: inline;
}
.blog-post .post-thumb {
    margin-bottom: 23px;
}
.blog-post .post-category {
    margin-bottom: 10px;
    display: block;
}
.blog-post .post-meta{
    padding-top: 8px;
}
.blog-intro {
    margin-top: 15px;
}
.blog-readmore {
    margin-top: 32px;
}
.cat-post .item{
    margin-bottom: 53px;
}
.cat-post .item:last-child{
    margin-bottom: 0;
}
.cat-post-grid {
    margin-bottom: -53px;
}
.categories-list .category-info .post-title {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.categories-col{
    margin-bottom: 20px;
}
.categories-col .category-info{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.categories-col .blog-intro {
    margin-top: 5px;
}

.categories-list {
    margin-bottom: -40px;
}

.category-item:hover {
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.08);
}
.post-thumb {
    position: relative;
}

.category-item:hover .post-thumb::before {
    transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}

.category-item:hover .post-title a{
    color: #DC6978;
}
.post-thumb::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
}

/********SINGLE POST*******/
.post-comment-info img {
    width: 90px;
    border-radius: 50%;
}
.single-blog .post-thumb {
    max-height: 470px;
    overflow: hidden;
    margin-bottom: 30px;
}

.single-blog .post-thumb img {
    width: 100%;
    max-width: 100%;
}
.post-fulltext td {
    border: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.post-fulltext table {
    border: 0;
}

.single-blog .title {
    font-size: 24px;
    font-weight: 600;
}

.single-blog .blog-post .post-meta {
    padding-top: 15px;
}

.single-blog .social-sharing {
    margin-top: 37px;
    margin-bottom: 45px;
}

#comments .success {
    margin: 30px 0 40px;
}

.comment-heading h5, .commentForm .heading {
  font-size: 21px;
  font-weight: 600;
}
.comment-heading h5::after, .commentForm .heading::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #dc6978;
  display: inline-block;
  margin-left: 10px;
}
#comments #accordion, 
.commentForm {
  border-top: 1px solid #EDEDED;
}

#comments #accordion {
  margin-top: 60px;
  padding-top: 50px;
}
.comment-heading {
  margin-bottom: 33px;
}
.post-comment {
  margin-bottom: 40px;
}
.post-comment-info h6 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.post-comment-content {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 15px;
}
.post-comment-info span {
  font-size: 12px;
  font-weight: 500;
}
.post-comment-info span i{
    color: #dc6978;
    margin-right: 5px;
}
.customer_site{
    margin-right: 10px;
}
.post-comment-info {
    display: flex;
}
.post-comment-img {
    margin-right: 25px;
}
.commentForm {
    margin-top: 60px;
    padding-top: 60px;
}
.commentForm .heading {
    margin-bottom: 35px;
}
.h-info {
    font-weight: 500;
}
.commentForm label {
    font-size: 12px;
}
.commentForm input[type="text"],
.commentForm textarea{
    border-radius: 25px;
}
#new_comment_form_footer {
    margin-top: 40px;
}
.comment-item img {
    width: 69px;
    float: left;
    margin-right: 20px;
}

.comment-item h6 {
    font-size: 14px;
    font-weight: 600;
}

.comment-item p {
    margin-bottom: 0;
}

.comment-item {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.comment-item:last-child{
    margin-bottom: 0;
}

.nav-post .tab-content {

    display: flex;

}