#off-canvas-menu-toggle span {
	color: #ffffff;
    display: none;
    font-size: 32px;
    line-height: 95px;
}
.off-canvas-menu-open #off-canvas-menu-toggle {
    display: none;
}
#off-canvas-menu .nav > li {
	float: left;

	width: 100%;

	padding: 10px 0;
}
#off-canvas-menu .jms-megamenu {
	box-shadow: none;
	text-align: left;
}
#off-canvas-menu .open > .dropdown-menu {
	position: static;

	box-shadow: none;

	border: 0px;

	width: 100%;

	transform: none;

	margin-top: 15px;

	padding: 0;
	transition 			: none;
	-moz-transition		: none;
	-webkit-transition	: none;
	-o-transition		: none;
}
#off-canvas-menu .dropdown-menu >  li > a {
	font-size: 13px;
	font-weight: 400;
}
#off-canvas-menu .dropdown-menu > li {
    padding: 5px 0;
}
#off-canvas-menu .dropdown-menu > li.group > a{
	font-weight: 500;
}

#off-canvas-menu .dropdown-menu >  li:hover > a{
	color: #DC6978;
}
#off-canvas-menu li a {
    display: block;

	font-weight: 500;

	text-transform: capitalize;

	border-radius: 0px;

	color: #8f8f8f;
}
#off-canvas-menu .nav > li:hover > a{
	color: #DC6978;
}
#off-canvas-menu #jms-megamenu > li > a {
	text-transform:uppercase;	
}
.responsive #off-canvas-menu-title {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #E7E7E7;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.23em;
    line-height: 46px;
    padding-left: 15px;
    font-weight:bold;
}
.responsive #off-canvas-menu-close {
    color: #1c2833;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 12px 12px 0 0;
}

#off-canvas-menu img{
	max-width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	right: auto;
}
#off-canvas-menu li > a em {
	float:right;
	font-size:15px;
	width:20px;
	height:20px;
	line-height:20px;
	margin-top: 2px;
	text-align:center;
}
#off-canvas-menu li .menu-content a {
    display: inline-block;
}
#off-canvas-menu .open > .dropdown-menu .dropdown-menu {

    position: static;
    left: auto;
    right: auto;
    transform: none;
    height: auto;
    min-width: initial;
    margin: 0;
    padding: 0;
        padding-left: 0px;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    padding-left: 15px;
    width: 100%;

}