.fraction-slider{
  position:relative;
  width:100%; height:100%;
  overflow:visible;
}

.fraction-slider .slide{
  display:none; width:100%; height:100%;
  position:absolute;
  z-index:500;
}

.fraction-slider .active-slide {
  z-index:999;
}

.fraction-slider .fs_obj{
  display:block; display:none;
  position:absolute;
  top:0px; left:100%;
  z-index:700;
}

.fraction-slider .fs_fixed_obj{
  z-index:600;
  left:0;
}

.fraction-slider .fs_obj *{
  display:inline-block;
  position:relative;
  top:0px; left:0px;
}

.fs_loader{
  width:100%; height:400px;
  box-shadow: 0 1px 1px #b5b5b5;
  background:url(../img/fraction/fs.spinner.gif) center center no-repeat transparent;
}
.fraction-slider .prev, .fraction-slider .next {
    display: none;
    height: 45px;
    position: absolute;
    width: 45px;
    z-index: 9999;
}
.fraction-slider .prev {
    background: transparent url("../img/fraction/fs.prevnext.png") no-repeat scroll 0 0;
    left: 20px;
    top: 48%;
}
.fraction-slider .prev:hover {
    background: transparent url("../img/fraction/fs.prevnext.png") no-repeat scroll 0 -45px;
}
.fraction-slider .next {
    background: transparent url("../img/fraction/fs.prevnext.png") no-repeat scroll -45px 0;
    right: 20px;
    top: 48%;
}
.fraction-slider .next:hover {
    background: transparent url("../img/fraction/fs.prevnext.png") no-repeat scroll -45px -45px;
}
.fraction-slider:hover .prev, .fraction-slider:hover .next {
    display: block;
}
/** PAGER **/

.fs-pager-wrapper{
	position:absolute;
	left:10px; bottom:7px;
	z-index:1001;
	width: 100%;
	text-align: center;	
}
.fs-pager-wrapper a, .fs-custom-pager-wrapper a {
    background: #fe4f18;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    text-align: center;
    width: 8px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.fs-pager-wrapper a::before , .fs-custom-pager-wrapper a::before {
	content: '';
    border: 1px solid transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -4px;
    top: -4px;
   -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -o-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.fs-pager-wrapper a.active::before , .fs-pager-wrapper a:focus::before,.fs-pager-wrapper a:hover::before, .fs-pager-wrapper a:active::before{
    -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  border: 2px solid #fe4f18;
  cursor: pointer;
}
.fs-pager-wrapper a.active, .fs-custom-pager-wrapper a.active ,
.fs-pager-wrapper  a:focus, .fs-custom-pager-wrapper  a:focus ,
.fs-pager-wrapper a:hover, .fs-custom-pager-wrapper a:hover{
	 -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.changestyle .fs-pager-wrapper a.active::before, .changestyle .fs-pager-wrapper a:focus::before,
.changestyle .fs-pager-wrapper a:hover::before, .changestyle .fs-pager-wrapper a:active::before {
    border:4px solid #fff;
}
.changestyle .fs-pager-wrapper a.active, .changestyle .fs-custom-pager-wrapper a.active,
.changestyle .fs-pager-wrapper a:hover, .changestyle .fs-custom-pager-wrapper a:hover, 
.changestyle .fs-pager-wrapper a:focus, .changestyle .fs-custom-pager-wrapper a:focus{
  background-color: #fe4f18;
}
.changestyle .fs-pager-wrapper a, .changestyle .fs-custom-pager-wrapper a{
  background-color: #fff;
}
@media (max-width:767px) {
.changestyle .fraction-slider .fs_obj *{
 top:-7vw;
}
}
@media (max-width:481px) {
	.fs-pager-wrapper a, .fs-custom-pager-wrapper a{
		margin-bottom: 0;
	}
}