
.jms-slider-wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	margin:0px auto;
	z-index: 1;
}

.jms-slider-wrapper .slider{
	position:relative;
	width:100%; 
/*	height:400px; when responsive, comment this out */
	margin:0 auto;
}
.jms-slider-wrapper .slide {
	overflow: hidden;
	position: absolute;
}

.poppins{
	font-family: "Poppins", sans-serif;
	line-height: 100px;
}
.semibold{
	font-weight: 600;
	letter-spacing: -0.04em;
}
.semi{
    font-weight: 600;
}
.ll-spacing{
    letter-spacing: -0.04em;
}
.ll-spacing::after{
    content: "";
    width: 60px;
    height: 4px;
    display: inline-block;
    position: absolute;
    background: #000;
    bottom: -0.8em;
    left: 5px;
}
.semibold::after {
    content: "";
    width: 60px;
    height: 4px;
    display: inline-block;
    position: absolute;
    background: #000;
    bottom: -50px;
    left: 5px;
}
.slider .button{
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.slider .button::after{
    content: "\ee5d";
    font-family: 'icomoon';
    color: #dc6978;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    vertical-align: -1px;
}

.slider .button:hover {
    background: none !important;
    color: #DC6978 !important;
}
.slider .button:hover::after{
    margin-left: 5px;
}
/*********HOME 3********/
 .poppins-title{
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.4em;
    line-height: 17px;
}
.poppins-title::before {
    content: "";
    width: 57px;
    height: 4px;
    background: #000;
    display: block;
    position: absolute;
    top: -59px;
    left: 0;
}

.poppins-des{
    font-weight: 600;
    letter-spacing: -0.04em;
    font-family: "Poppins", sans-serif;
    line-height: 137px;
}

.poppins-medium{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.before{
    position: relative;
}

.before::before{
    content: "";
    width: 100%;
    height: 5px;
    display: inline-block;
    position: absolute;
    bottom: 8px;
    left: 0;
    background: #DC6978;
}

/**********HOME 4*********/
.pp-font{
    font-family: "Poppins", sans-serif;
}

.ll-space{
    letter-spacing: 0.4em;
}

.font-aqua{
    font-family: 'Aguafina Script', cursive;
}

/*********HOME 5*********/

.after{
    position: relative;
}

.after::before{
    content: "";
    width: 4px;
    height: 120px;
    display: inline-block;
    position: absolute;
    top: 19px;
    background: #000;
    left: -60px;
}

.font-bold{
    font-weight: 700;
}
.font-medium{
    font-weight: 500;
}
.letter-spacing{
    letter-spacing: -0.04em;
}


.letter-space{
    letter-spacing: -0.05em;
}

/*********HOME 6********/
.link-social {
    display: flex;
    text-align: center;
}
.link-social a {
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    width: 10px;
    word-wrap: break-word;
    line-height: 13px;
    opacity: 0.5;
}
.link-social a:hover{
    color: #fff;
    opacity: 1;
}
.link-social::after {
    content: "";
    width: 3px;
    height: 3px;
    background: #fff;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    bottom: -22px;
    left: 2.5px;
    opacity: 0.5;
}
.link-social:last-child::after{
    display: none;
}

/********HOME 7********/
.poppins-h7{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    line-height: 1.25em;
}
.poppins-h7::after {
    content: "";
    width: 1.25em;
    height: 0.059em;
    display: inline-block;
    background: #000;
    position: absolute;
    left: 0;
    bottom: -0.8em;
}

/***********HOME 13********/
.slider .button-h13 a{
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    box-shadow: 0 11px 18px rgba(0,0,0,0.17);
    font-family: "Poppins", sans-serif;
    border-radius: 25px;
    padding: 16px 40px 14px;
    text-decoration: none;
}
.slider .button-h13 a:hover{
    background: #dc6978;
}

.slider .social ul {
    padding-left: 0;
    list-style: none;
}
.slider .social ul li {
    display: inline-block;
    font-size: 0;
    margin-right: 25px;
}
.slider .social ul li span {
    font-size: 14px;
    color: #8f8f8f;
}
.slider .social ul li span:hover{
    color: #DC6978;
}

/*********HOME 14**********/
.button-h14 a{
    font-size: 14px;
    text-transform: uppercase;;
    letter-spacing: 0.2em;
    color: #fff;
    border-radius: 30px;
    border: 2px solid rgba(255,255,255,0.5);
    padding:  17px 50px 14px;
    text-decoration: none;
}
.button-h14 a:hover{
    background: #DA6A79;
    border-color: #DA6A79;
    color: #fff;
}
/*# sourceMappingURL=New%20Text%20Document.css.map */


