.testimonial-carousel {
    text-align: center;
}

.testimonial-carousel .image {
    width: 100px;
    height: 100%;
    margin: 0 auto;
}

.testimonial-carousel {
    
}

.testimonial-carousel {
    
}

.testimonial-carousel {
    
}


.testimonial-carousel {
    
}